/*-- BACKGROUND --*/

body {
    background-color: hsl(318, 100%, 98%);
    }

/*-- BUTTON: Menu Icon --*/

#mobile-menu-button {
    display: none;
    }

@media (max-width: 580px) {
    #mobile-menu-button {
        display: block;
        }
    .display-none-mobile {
        display: none;
        }
    #menu {
        flex-direction: column;
        width: 100%;
        }
    .dropdown-menu {
        display: block;
        position: relative;
        }
    }

/*-- HEADER --*/

nav {
    background-color: hsl(280, 100%, 92%);
    display:inline-flexbox; 
    height: 115px;
    justify-content: space-evenly;
    align-items: center; 
    }

#main-menu {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-self: center; 
    padding: 10px 0%;
    }

#main-menu button {
    background-color: transparent;
    font-family: "mali"; 
    font-size: 30px;
    border-width: 0px;
    }
    /* gets rid of the grey default buttons */

#main-menu li {
    list-style: none;
    padding: 5px 0%;
    display:flexbox;
    }
    /* gets rid of the bullet points */

.about-me {
    margin-top: 15px;
    position:sticky;
    }

#main-menu .about-me a {
    color: black;
    text-decoration: none;
}

#main-menu .about:hover {
    transition: .5s;
    color: hsl(280, 34%, 53%);
    font-weight: bolder;
    }

#menu {
    display: grid; 
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    margin-left: 250px;
    }

.med {
    margin-left: 120px;
}

.med:hover {
    transition: .10s;
    text-decoration-line: underline;
    text-decoration-thickness: 2.5px;
    }

.mediums:hover .dropdown {
    transition: .5s;
    display: block;
    }

.dropdown {
    background-color: hsl(280, 100%, 92%);
    border-radius: 15%;
    font-family: "mali";
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px 0px;
    margin-left: 100px;
    padding: 5px 2%;
    display: none;
    }

.dropdown a {
    color: black;
    text-decoration: none;
    font-family: "mali";
    line-height: 18px;
    text-align: left;
    margin-left: 15px;
    padding: 15px; 
    display: block;
    }

.draw:hover {
    transition: .5s;
    color: hsl(280, 34%, 46%);
    font-weight: bolder;
    }

.paint:hover {
    transition: .5s;
    color: hsl(280, 34%, 46%);
    font-weight: bolder;
    }

.print:hover {
    transition: .5s;
    color: hsl(280, 34%, 46%);
    font-weight: bolder;
    }

.anim:hover {
    transition: .5s;
    color: hsl(280, 34%, 46%);
    font-weight: bolder;
    }

.process-photos a {
    color: black;
    text-decoration: none;
    } 

.proc:hover {
    transition: .5s;
    color: hsl(280, 34%, 46%);
    font-weight: bolder;
    }

.contact-me a {
    color: black;
    text-decoration: none;
    margin-left: 100px;
    }

.cont:hover {
    transition: .5s;
    color: hsl(280, 34%, 46%);
    font-weight: bolder;
    }

/*-- ABOUT ME --*/

h1 {
    font-family: "nerko one";
    font-size: 70px;
    line-height: 100%;
    margin-top: 125px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;

    }

h2{
    font-family: "mali";
    font-size: 20px; 
    line-height: 10%;
    margin-bottom: 0px;
    display: flex; 
    justify-content: flex-end;
    padding: 0px 33%;
    }

#self-portrait{
    float: left;
    padding: 0px;
    margin-top: 80px;
    margin-left: 75px;
    margin-right: 45px;
    margin-bottom: 15px;
    }

.biography {
    font-family: "mali";
    font-size: 25px; 
    text-indent: 50px;
    line-height: 50px;
    margin-top: 75px;
    margin-left: -25px;
    margin-bottom: 0px;
    display: flexbox;
    flex-wrap: wrap;
    padding: 0px 7%;
    }

.bio2 {
    font-family: "mali";
    font-size: 25px; 
    text-indent: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flexbox;
    flex-wrap: wrap;
    padding: 0px 7%;
    }


/*-- FOOTER --*/

#footer {
    background-color: hsl(280, 100%, 92%);
    display: flex; 
    justify-content: center;
    padding: 20px;
    margin: auto; 
    }

.divider {
    width: 100px;
    }

/*-- DRAWING PAGE 
    #drawing {
        font-family: "nerko one";
        font-size: 80px;
        line-height: 100%;
        margin-top: 80px;
        margin-bottom: 60px;
        justify-content: center;
        }
--*/

/*-- PAINTINGS --*/

#paintings {
    font-family: "nerko one";
    font-size: 70px;
    line-height: 100%;
    margin-top: 125px;
    margin-bottom: 60px;
    justify-content: center;
    }

.painting-grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 1px 10%;
    gap: 60px 120px;
    }

.paint-desc {
    font-family: "mali";
    font-size: 16px;
    flex-wrap: auto;
    }

/*-- PRINT MAKING --*/

#printing {
    font-family: "nerko one";
    font-size: 70px;
    line-height: 100%;
    margin-top: 125px;
    margin-bottom: 60px;
    justify-content: center;
    }

.print-project1 {
    font-family: "mali";
    font-size: 30px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 5px;
    }

.print-project-desc1 {
    font-family: "mali";
    font-size: 20px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
    }

.print1-grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 1px 10%;
    gap: 60px 100px;
    }

.print-project2 {
    font-family: "mali";
    font-size: 30px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 5px;
}

.print-project-desc2 {
    font-family: "mali";
    font-size: 20px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
    }

.print2-grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 1px 10%;
    gap: 60px 100px;
    }

.print-project3 {
    font-family: "mali";
    font-size: 30px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 5px;
}

.print-project-desc3 {
    font-family: "mali";
    font-size: 20px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
    }

.print3-grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 1px 10%;
    gap: 60px 100px;
    }

.print-desc {
    font-family: "mali";
    font-size: 16px;
    margin-left: 25px;
    margin-right: 125px;
    }

/*-- ANIMATIONS --*/

#animations {
    font-family: "nerko one";
    font-size: 70px;
    line-height: 100%;
    margin-top: 125px;
    margin-bottom: 60px;
    justify-content: center;
    }

.animation-grid {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 1x 15%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 60px 180px;
    }

.animate-desc {
    font-family: "mali";
    font-size: 16px;
    flex-wrap: auto;
    margin-left: 10px;
    }

/*-- CONTACT ME --*/

#contact {
    padding: 1px 8%;
    }

.information {
    font-family: "nerko one";
    font-size: 70px;
    line-height: 100%;
    margin-top: 125px;
    margin-bottom: 60px;
    justify-content: center;
    }

.info {
    font-family: "mali";
    font-size: 30px;
    margin-top: 5%;
    margin-left: 0%;
    display: flex;
    justify-content: flex-start;
    }

.email {
    font-family: "mali";
    color: black;
    font-size: 25px;
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: 60px;
    text-decoration: none;
    }

.email:hover {
    color: blue;
    text-decoration: underline;
    }

.con-photo {
    margin-top: -8%;
    margin-left: 70%;
    margin-bottom: 5%;
    }
    
.con-message {
    font-family: "mali";
    line-height: 35px;
    font-size: 25px;
    margin-top: -35%;
    margin-right: 38%;
    margin-bottom: 20%;
    }

/*--  --*/

/*--  --*/